apispec
apispec-webframeworks
APScheduler
async-generator
attrs
certifi
cffi
charset-normalizer
click
colorama
exceptiongroup
Flask
Flask-Admin
Flask-Login
Flask-SQLAlchemy
flask-swagger-ui
greenlet
h11
idna
importlib-metadata
iqsms-rest
itsdangerous
Jinja2
MarkupSafe
marshmallow
outcome
packaging
pycparser
PySocks
pyTelegramBotAPI
pytz
pytz-deprecation-shim
PyYAML
requests
selenium
six
sniffio
sortedcontainers
SQLAlchemy
telegraph
trio
trio-websocket
typing-extensions
tzdata
tzlocal
urllib3
Werkzeug==2.3.2
wsproto
WTForms
zipp
